html,
body {
  background-image: url(https://wallpapercave.com/wp/wp4585515.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

#footer-bottom {
  position: fixed;
  /* height: 20rem; */
  left: 0;
  bottom: 0;
  width: 100%;
}
