html,
body {
  background-image: url(https://wallpapercave.com/wp/wp4585515.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  height: 1100px;
}
.row1 {
  margin-bottom: 533px;
}
.text .voffset {
  margin-top: 2px;
}
.voffset1 {
  margin-top: 5px;
}
.voffset2 {
  margin-top: 10px;
}
.voffset3 {
  margin-top: 15px;
}
.voffset4 {
  margin-top: 30px;
}
.voffset5 {
  margin-top: 40px;
}
.voffset6 {
  margin-top: 60px;
}
.voffset7 {
  margin-top: 80px;
}
.voffset8 {
  margin-top: 100px;
}
.voffset9 {
  margin-top: 150px;
}
.btn-group {
  margin-left: 900px;
  width: 130px;
}

.footer-copyright {
  padding-top: 3rem;
  color: white;
}
.fab {
  width: 20px;
  font-size: 20px;
}
.carousel-item {
  width: auto;
  height: 500px;
}
.row {
  padding-top: 1rem;
  padding-bottom: 0rem;
}
.card {
  width: 279px;
  height: 330px;
}
.navbar {
  width: auto;
}
.row1 {
  margin-bottom: 400px;
}
.btn-primary {
  margin-bottom: 30px;
}
.card-img-top {
  height: 180px;
}
.box1 {
  background-color: rgba(206, 206, 206, 0.5);
}
.card-body {
  background-color: black;
}
h5 {
  color: white;
}
.card-text {
  color: white;
}
